* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  html {
    font-size: 16px;
  }
  
  .card {
    width: 350px;
    margin: 30px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
  }
  
  .card-img {
    width: 100%;
    display: block;
    border-radius: 1em 1em 0 0;
  }
  
  .card-container {
    text-align: center;
    padding: 40px 15px;
    border-radius: 0 0 1em 1em;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .card-paragraph {
    line-height: 1.5;
    text-align: start;
  }
  
  .card-button {
    display: inline-block;
    background-color: #CC021C;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    margin-top: 1em;
    border-radius: 2em;
  }

  .card-button:hover{
    background-color: rgb(101, 167, 189);
  }

  